*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
/androidApp/src/main/res/values/api_keys.xml
/composeApp/src/commonMain/composeResources/values/api_key.xml
/composeApp/src/commonMain/kotlin/com/jsontextfield/departurescreen/network/ApiKey.kt
